{% extends 'base.html' %}

{% block head %}
    Registration Page
{% endblock %}

{% block body %}
<body>
<br>
<div class="container" style="width: 500px; height: 200px">
    <form method="POST" class="form-register" style="color:white">
        {{ form.hidden_tag() }}
        <h2 class="h2 mb-3 font-weight-normal" align="center">Create New Password</h2>

        {{ form.password1.label() }}
        {% if form.password1.errors %}
            {{ form.password1(class="form-control is_invalid", placeholder="Enter Password") }}
            <div class="invalid_feedback" style="color:red">
                {% for error in form.password1.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password1(class="form-control", placeholder="Enter Password") }}
        {% endif %}

        {{ form.password2.label() }}
        {% if form.password2.errors %}
            {{ form.password2(class="form-control is_invalid", placeholder="Confirm Password") }}
            <div class="invalid_feedback" style="color:red">
                {% for error in form.password2.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.password2(class="form-control", placeholder="Confirm Password") }}
        {% endif %}
        <br>
        {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
    </form>
</div>
</body>
{% endblock %}
